-if user.id != current_user.id
  #chat-group-user-8.chat-group-user.clearfix.js-chat-member
    %input{name: "group[user_ids][]", type: "hidden", value: "#{user.id}", class: "group__id"} 
      %p.chat-group-user__name
        =user.name
      %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除







